/*
Spartan 300, 400, 500, 700

Colors
-030301
-FFFFFF
-32BCB6
-C3BD50
-F5BFBC
*/

/*body styling basics start*/
body {
    margin: 0;
    font-family: 'Spartan', Verdana, Arial, sans-serif;
}

p {
    line-height: 2;
}

h1 {
    font-weight: 700;
    float: left;
    margin: 0;
}

header {
    background-color: #32BCB6;
    text-align: left;
    padding: 50px;
}

#title {
    font-style: italic;
}

#title a {
    text-decoration: none;
    color: black;
}

#title a:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

img {
    float: right;
    border: 3px solid #32BCB6;
}
/*body styling basics end*/

/*footer start*/
footer {
    right: 0pt;
    left: 0pt;
    position: absolute;
    width: 100%;
    height: 2em;
}

footer > p{
    float: right;
    margin-right: 12px;
    padding-bottom: 12px;
}
/*footer end*/

/*navbar start*/
#navbar {
    width: 100%;
    overflow: hidden;
    background-color:#32BCB6;
    padding-bottom: 8px;
}

#navbar > ol > li {
    float: right;
    padding-left: 10px;
    padding-right: 25px;
    list-style-type: none;
}

#navbar > ol > li > a {
    text-decoration: none;
}

#navbar > ol > li > a:hover {
    padding: 4px;
    text-decoration: none;
    color:#FFC15C;
    font-weight: 400;
    border: 2px solid #F5BFBC;
    border-radius: 6px;
}
/*navbar end*/

/*standard styling on the cards start*/
.card {
    background-color: #F5BFBC;
    border: 4px solid #32BCB6;
    position: relative;
}

.card-title {
    font-weight: 500;
    text-align: center;
    width: 67%;
    margin: 5px;
}

.card-content {
    width: 67%;
    margin: 5px;
}
/*standard styling on the cards end*/

/*styling on portrait image*/
#portrait {
    margin: 5% 5% 5% 5%;
}

/*styling on hobbies images*/
#kayaking, #skating, #hiking{
    margin: 2%;
}

/*container styling start*/
/*container one styling start*/
#container {
    border: 4px solid #32BCB6;
    background-color: #F5BFBC;
    border-radius: 10px;
    margin: 2%;
}

#container .card {
    border: none;
    padding: 10px;
    margin: 2%;
    display: inline-block;
}
/*container one styling end*/

/*container two styling start*/
#containerTwo .card {
    border: 4px solid #32BCB6;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
}

#containerTwo .card .card-title {
    width: 100%;
    text-align: center;
}
/*container two styling end*/

/*container three styling start*/
#containerThree .card {
    border: 4px solid #32BCB6;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    display: inline-block;
}

#containerThree .card .card-title {
    width: 100%;
    text-align: center;
}
/*container three styling end*/
/*container styling end*/